@use "../styles/colors" as colors;
@use "../styles/mixins" as mixins;

.main {
  @include mixins.flex-center;
  flex-direction: column;
  min-height: 100vh;
  color: colors.$dark;
  font-size: 2rem;
}